<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Input From UI Design</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <input type="text" name="" required="">
                    <label>学号</label>
                </div>
                <input type="submit" name="index" value="Submit">
            </form>
            <li><a href="{% url 'polls' %}">{{ question.question_text }}</a></li>
        </div>
    </body>
</html>